<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employer.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @employer.city %>
</p>

<p>
  <strong>Activitysector:</strong>
  <%= @employer.activitysector %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employer.description %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
